Source: ruby-posix-spawn
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Youhei SASAKI <uwabami@gfd-dennou.org>
Build-Depends: debhelper-compat (= 12),
               gem2deb (>= 1.0~),
               rake
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-posix-spawn.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-posix-spawn
Homepage: https://github.com/rtomayko/posix-spawn
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-posix-spawn
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Ruby Implementation of posix_spawn(2) for faster process spawning
 The posix-spawn library aims to implement a subset of the Ruby 1.9
 `Process::spawn` interface in a way that takes advantage of fast
 process spawning interfaces when available and provides sane fallbacks
 on systems that do not.
 .
 `fork(2)` calls slow down as the parent process uses more memory due to
 the need to copy page tables. In many common uses of fork(), where it
 is followed by one of the exec family of functions to spawn child
 processes (`Kernel#system`,`IO::popen`, `Process::spawn`, etc.), it's
 possible to remove this overhead by using the use of special process
 spawning interfaces (`posix_spawn()`, `vfork()`, etc.)
